[Desktop Entry]
Encoding=UTF-8
Name=People
Comment=People P2P Cryptocurrency
Comment[fr]=People, monnaie virtuelle cryptographique pair à pair
Comment[tr]=People, eşten eşe kriptografik sanal para birimi
Exec=people-qt %u
Terminal=false
Type=Application
Icon=people128
MimeType=x-scheme-handler/people;
Categories=Office;Finance;
